@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

table tr td {
  @apply border border-solid border-black;
}

table a{
  @apply text-white inline-flex gap-1 m-1 px-2 py-1 rounded-md;
}

.button-primary{
  @apply text-white bg-primary-blue p-2 rounded-md font-bold
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

