@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  @apply mt-4 shadow-md overflow-hidden bg-gray-100 text-sm w-full rounded-sm;
}

table thead tr td{
  @apply text-gray-700 uppercase border-b border-gray-300;
}

table tr td{
  @apply px-2 py-1
}

input, select {
  @apply pl-1.5 py-1 rounded-sm text-sm 
}

tr td a, tr td button{
  @apply items-center align-middle text-white inline-flex gap-1 m-1 px-2 py-1 rounded-md text-xs
}
.button-primary{
  @apply text-white px-3 py-1 rounded-md font-bold
}


body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

